footer{
    position: fixed;
    bottom: 0;
    background-color: #5C4033;
    width: 100%;
    padding: 0.1em;
    height: 200px;
}
.line{
    width: 30%;
}
hr{
    margin-bottom: .5em;;
}
.icon{
    margin-right: 1em;
    margin-bottom: 2em;
}
.copyright p{
    text-align: center;
    color: #01199A;
    margin-bottom: .5em;
    font-size: 2rem; 
    font-family: 'Poppins', sans-serif;
}
